/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Font */
@font-face {
  font-family: "sans";
  src: url(font/sans.ttf); /* Ensure the path is correct */
}

/* Body Styles */
body {
  color: black;
  font-family: "sans";
  height: 100vh;
  overflow: hidden;
  background-image: url('Clear1.jpg');
  background-repeat: no-repeat;
  background-position: top-center;
  background-size: cover;
  text-align: center;
}

/* Header Styles */
.hedd {
  font-size: 50px;
  font-family: "sans";
  margin-top: 3px;
}

/* Main Content Styles */
.app-main {
  min-width: 50vh;
  width: 50vw;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.50);
  padding: 20px;
  text-align: center;
}

.input-box {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.50);
  border: none;
  outline: none;
  color: #582233;
  font-size: 25px;
  height: 50px;
  border-radius: 5px;
  padding: 0 10px;
  text-align: center;
}

.input-box:focus {
  background-color: rgba(255, 255, 255, 0.50);
}

.weather-body {
  display: none;
  color: #582233;
  padding: 10px;
  line-height: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.50);
}

.location {
  font-weight: bold;
}

.weather-status {
  padding: 10px;
  align-items: center;
  text-align: center;
}

.temp {
  font-size: 50pt;
  font-weight: 700;
  margin: 20px 0;
  text-align: center;
}

.min-max,
.weather {
  font-size: 12pt;
  font-weight: 600;
  text-align: center;
}

/* Footer Styles */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .right a {
  margin-left: 10px; /* Add spacing between icons */
}

.footer .right i {
  font-size: 20px; /* Adjust icon size */
}
